body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
span {
    color: coral;
}
section {
    display: flex;
    margin-bottom: 200px;

}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 90%;
}
.fb-page-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    font:bolder;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.Welcome {
    background-image:url(shapes/7.png);
    background-repeat: no-repeat;
    margin: 0px;
}
.About {
    background-image: url(shapes/Frame\ 58.jpg);
    margin-top: 300px;
    background-repeat: no-repeat;
    background-position: left;
}
.Choose-Button {
    text-decoration: none;
    background-image: linear-gradient(blue, lightblue);
    font: bolder;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
}
